<nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/v1/home">GLOWBAL</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">WELCOME!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/v1/home">Home</a>
          </li>

          <li class="nav-item d-none">
            <a class="nav-link" href="/v1/add">Add</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Add
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/v1/add">Add Videos</a></li>
              <li><a class="dropdown-item" href="/v1/add2/?id=0">Add Seasons</a></li>
            </ul>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Plans
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/v1/plans">List Plans</a></li>
              <li><a class="dropdown-item" href="/v1/add_plan">Add Plan</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="/logout">
              <i class="fa-solid fa-power-off me-3" style="color: black;"></i>Logout
            </a>
          </li>
        </ul>
        
        <!-- <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </div>
</nav>